<a href="https://colab.research.google.com/github/aqilaazza/mini-bootcamp-data-analyst-python/blob/main/data-cleaning/training-data-cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
import pandas as pd
path = '/content/drive/MyDrive/Sertifikasi Data Analyst UDEMY/Sample Data/data_unclean.csv'
df = pd.read_csv(path)
df.head()

,ID,Age,Gender,Income,Date of Joining,City,Happiness Score,Email_POS,Education
0,1,30,Female,70000.0,2020-01-01,Balikpapan,70,user32@example.com;77969,PhD
1,2,25,male,30000.0,2020-01-02,Palangkaraya,150,user84@example.com;48044,Master
2,3,45,Female,110000.0,2020-01-03,Palangkaraya,50,user1@example.com;12695,PhD
3,4,40,male,50000.0,2020-01-04,Tarakan,70,user99@example.com;74820,PhD
4,5,40,Male,70000.0,2020-01-05,balikpapan,100,user100@example.com;45920,Bachelor

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               103 non-null    int64
 1   Age              103 non-null    int64
 2   Gender           103 non-null    object
 3   Income           87 non-null     float64
 4   Date of Joining  103 non-null    object
 5   City             89 non-null     object
 6   Happiness Score  103 non-null    int64
 7   Email_POS        103 non-null    object
 8   Education        103 non-null    object
dtypes: float64(1), int64(3), object(5)
memory usage: 7.4+ KB

Perbaiki data type

In [36]:
df['Date of Joining'] = pd.to_datetime(df['Date of Joining'])

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               103 non-null    int64
 1   Age              103 non-null    int64
 2   Gender           103 non-null    object
 3   Income           87 non-null     float64
 4   Date of Joining  103 non-null    datetime64[ns]
 5   City             89 non-null     object
 6   Happiness Score  103 non-null    int64
 7   Email_POS        103 non-null    object
 8   Education        103 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(3), object(4)
memory usage: 7.4+ KB

Mengisi data null

In [38]:
df.isnull().sum()

ID                  0
Age                 0
Gender              0
Income             16
Date of Joining     0
City               14
Happiness Score     0
Email_POS           0
Education           0
dtype: int64

In [39]:
df['Income'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
98     False
99     False
100    False
101    False
102     True
Name: Income, Length: 103, dtype: bool

In [40]:
df[df['Income'].isnull()]

,ID,Age,Gender,Income,Date of Joining,City,Happiness Score,Email_POS,Education
5,6,35,male,NaN,2020-01-06,Palangkaraya,150,user29@example.com;95305,PhD
10,11,25,female,NaN,2020-01-11,NaN,150,user18@example.com;76557,PhD
20,21,25,M,NaN,2020-01-21,taranakan,50,user97@example.com;94654,Master
26,27,40,male,NaN,2020-01-27,Palangkaraya,90,user10@example.com;58984,Master
28,29,30,female,NaN,2020-01-29,Tarakan,150,user35@example.com;97313,PhD
29,30,30,Male,NaN,2020-01-30,NaN,100,user41@example.com;47065,PhD
30,31,60,female,NaN,2020-01-31,Samarinda,50,user11@example.com;74925,PhD
34,35,45,F,NaN,2020-02-04,Tarakan,90,user28@example.com;54131,Master
53,54,50,female,NaN,2020-02-23,Samarinda,100,user50@example.com;20627,Master
73,74,45,Male,NaN,2020-03-14,balikpapan,100,user96@example.com;47065,Master
74,75,30,Female,NaN,2020-03-15,NaN,200,user7@example.com;18792,PhD
76,77,50,female,NaN,2020-03-17,Palangkaraya,200,user9@example.com;97538,PhD
77,78,40,Male,NaN,2020-03-18,Palangkaraya,80,user84@example.com;92386,Master
85,86,45,Male,NaN,2020-03-26,Balikpapan,90,user60@example.com;61214,Bachelor
88,89,50,male,NaN,2020-03-29,Banjarmasin,70,user78@example.com;33247,Bachelor
102,35,45,F,NaN,2020-02-04,Tarakan,90,user28@example.com;54131,Master

In [41]:
df['Income'].fillna(0, inplace=True)

/tmp/ipython-input-41-3824672977.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Income'].fillna(0, inplace=True)

In [42]:
df.isnull().sum()

ID                  0
Age                 0
Gender              0
Income              0
Date of Joining     0
City               14
Happiness Score     0
Email_POS           0
Education           0
dtype: int64

In [43]:
df[df['City'].isnull()]

,ID,Age,Gender,Income,Date of Joining,City,Happiness Score,Email_POS,Education
10,11,25,female,0.0,2020-01-11,NaN,150,user18@example.com;76557,PhD
27,28,50,M,30000.0,2020-01-28,NaN,100,user37@example.com;75725,Bachelor
29,30,30,Male,0.0,2020-01-30,NaN,100,user41@example.com;47065,PhD
39,40,30,M,50000.0,2020-02-09,NaN,100,user54@example.com;78148,Master
41,42,50,Male,90000.0,2020-02-11,NaN,60,user90@example.com;86820,Bachelor
43,44,30,M,90000.0,2020-02-13,NaN,80,user49@example.com;88953,Master
50,51,60,male,110000.0,2020-02-20,NaN,150,user63@example.com;12747,Master
58,59,45,F,50000.0,2020-02-28,NaN,100,user69@example.com;64886,Master
72,73,60,female,90000.0,2020-03-13,NaN,150,user61@example.com;86820,Master
74,75,30,Female,0.0,2020-03-15,NaN,200,user7@example.com;18792,PhD
79,80,60,male,50000.0,2020-03-20,NaN,70,user32@example.com;35658,PhD
82,83,45,F,50000.0,2020-03-23,NaN,100,user17@example.com;87189,Bachelor
95,96,35,female,110000.0,2020-04-05,NaN,150,user49@example.com;33483,PhD
101,59,45,F,50000.0,2020-02-28,NaN,100,user69@example.com;64886,Master

In [44]:
df['City'].fillna('Unknow', inplace=True)

/tmp/ipython-input-44-1492324962.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['City'].fillna('Unknow', inplace=True)

In [45]:
df.isnull().sum()

ID                 0
Age                0
Gender             0
Income             0
Date of Joining    0
City               0
Happiness Score    0
Email_POS          0
Education          0
dtype: int64

In [46]:
df.describe()

,ID,Age,Income,Date of Joining,Happiness Score
count,103.000000,103.000000,103.000000,103,103.000000
mean,50.815534,42.766990,56019.417476,2020-02-19 19:34:22.135922432,101.747573
min,1.000000,25.000000,-10000.000000,2020-01-01 00:00:00,50.000000
25%,26.500000,30.000000,30000.000000,2020-01-26 12:00:00,70.000000
50%,51.000000,40.000000,50000.000000,2020-02-20 00:00:00,90.000000
75%,75.500000,50.000000,90000.000000,2020-03-15 12:00:00,150.000000
max,100.000000,70.000000,110000.000000,2020-04-09 00:00:00,200.000000
std,28.899334,12.713436,37346.806195,NaN,43.822887

Membenahi data error

In [47]:
#filter kolom income
filter_income = df['Income'] < 0
df[filter_income]

,ID,Age,Gender,Income,Date of Joining,City,Happiness Score,Email_POS,Education
42,43,40,Female,-10000.0,2020-02-12,Pontianak,150,user98@example.com;11016,Bachelor
45,46,40,Male,-10000.0,2020-02-15,Palangkaraya,50,user39@example.com;12695,Bachelor

In [48]:
index_income = df[filter_income].index
df.loc[index_income, 'Income'] = 0

In [49]:
filter_income = df['Income'] < 0
df[filter_income]

Empty DataFrame
Columns: [ID, Age, Gender, Income, Date of Joining, City, Happiness Score, Email_POS, Education]
Index: []

In [50]:
#pisah kolom email dan pos
df['Email_POS']

0       user32@example.com;77969
1       user84@example.com;48044
2        user1@example.com;12695
3       user99@example.com;74820
4      user100@example.com;45920
                 ...
98      user89@example.com;92798
99      user32@example.com;74820
100     user96@example.com;58984
101     user69@example.com;64886
102     user28@example.com;54131
Name: Email_POS, Length: 103, dtype: object

In [52]:
df['Email_POS'].str.split(';', expand=True)

                       0      1
0     user32@example.com  77969
1     user84@example.com  48044
2      user1@example.com  12695
3     user99@example.com  74820
4    user100@example.com  45920
..                   ...    ...
98    user89@example.com  92798
99    user32@example.com  74820
100   user96@example.com  58984
101   user69@example.com  64886
102   user28@example.com  54131

[103 rows x 2 columns]

In [53]:
df[['Email', 'POS']] = df['Email_POS'].str.split(';', expand=True)
df

,ID,Age,Gender,Income,Date of Joining,City,Happiness Score,Email_POS,Education,Email,POS
0,1,30,Female,70000.0,2020-01-01,Balikpapan,70,user32@example.com;77969,PhD,user32@example.com,77969
1,2,25,male,30000.0,2020-01-02,Palangkaraya,150,user84@example.com;48044,Master,user84@example.com,48044
2,3,45,Female,110000.0,2020-01-03,Palangkaraya,50,user1@example.com;12695,PhD,user1@example.com,12695
3,4,40,male,50000.0,2020-01-04,Tarakan,70,user99@example.com;74820,PhD,user99@example.com,74820
4,5,40,Male,70000.0,2020-01-05,balikpapan,100,user100@example.com;45920,Bachelor,user100@example.com,45920
...,...,...,...,...,...,...,...,...,...,...,...
98,99,30,M,110000.0,2020-04-08,Tarakan,200,user89@example.com;92798,PhD,user89@example.com,92798
99,100,60,M,30000.0,2020-04-09,Balikpapan,150,user32@example.com;74820,PhD,user32@example.com,74820
100,90,40,F,70000.0,2020-03-30,Pontianak,50,user96@example.com;58984,Master,user96@example.com,58984
101,59,45,F,50000.0,2020-02-28,Unknow,100,user69@example.com;64886,Master,user69@example.com,64886
102,35,45,F,0.0,2020-02-04,Tarakan,90,user28@example.com;54131,Master,user28@example.com,54131

In [54]:
df.drop(columns= 'Email_POS', inplace=True)
df

,ID,Age,Gender,Income,Date of Joining,City,Happiness Score,Education,Email,POS
0,1,30,Female,70000.0,2020-01-01,Balikpapan,70,PhD,user32@example.com,77969
1,2,25,male,30000.0,2020-01-02,Palangkaraya,150,Master,user84@example.com,48044
2,3,45,Female,110000.0,2020-01-03,Palangkaraya,50,PhD,user1@example.com,12695
3,4,40,male,50000.0,2020-01-04,Tarakan,70,PhD,user99@example.com,74820
4,5,40,Male,70000.0,2020-01-05,balikpapan,100,Bachelor,user100@example.com,45920
...,...,...,...,...,...,...,...,...,...,...
98,99,30,M,110000.0,2020-04-08,Tarakan,200,PhD,user89@example.com,92798
99,100,60,M,30000.0,2020-04-09,Balikpapan,150,PhD,user32@example.com,74820
100,90,40,F,70000.0,2020-03-30,Pontianak,50,Master,user96@example.com,58984
101,59,45,F,50000.0,2020-02-28,Unknow,100,Master,user69@example.com,64886
102,35,45,F,0.0,2020-02-04,Tarakan,90,Master,user28@example.com,54131